@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

#firenyx-close-dashboard {
	-moz-appearance: none;
	list-style-image: url("chrome://firenyx/skin/sidebar/closeSidebar.png");
	-moz-image-region: rect(0px, 14px, 14px, 0px);
  margin: 0px;
  border: none;
  padding: 0px 2px 0px 2px; 	
}

#firenyx-close-dashboard:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}

#firenyx-close-dashboard:hover:active {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}

.disabled #firenyx-label {
	color: GrayText;
}

#firenyx-friends, #firenyx-topics {
	-moz-appearance: none;
  border: 0;
  margin: 0;
  border-top: 1px solid ThreeDShadow; 
}
#firenyx-friends label.nick {
	font-weight: bold;
	font-size: 1.5em;
	color: GrayText;
/*	-moz-box-align: start;
	-moz-box-flex: 1; */
}
#firenyx-friends:focus richlistitem[selected="true"] label.nick {
	color: highlighttext;
}

#firenyx-friends label.time {
	color: highlight;
	font-size: 1.1em;
	-moz-box-align: end;
	background: url("chrome://firenyx/skin/sidebar/silk_icons/time_transparent.png") no-repeat;
	padding: 1px 0 3px 18px;
}
#firenyx-friends:focus richlistitem[selected="true"] label.time {
	color: highlighttext;
}

#firenyx-friends.min-icon label.nick {
	font-weight: bold;
	font-size: 11px;
}

#firenyx-friends.min-icon label.time {
	font-size: 10px;
	padding: 0 0 0 12px;
	background: url("chrome://firenyx/skin/sidebar/silk_icons/time_transparent_min.png") no-repeat left center;
}

#firenyx-friends.min-icon image {
	width: 24px;
	height: 30px !important;
}