@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

#firenyx-close-dashboard {
	-moz-appearance: none;
	list-style-image: url("chrome://firenyx/skin/sidebar/closeSidebar.png");
	-moz-image-region: rect(0px, 14px, 14px, 0px);
  margin: 0px;
  border: none;
  padding: 0px 2px 0px 2px; 	
}

#firenyx-close-dashboard:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}

#firenyx-close-dashboard:hover:active {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}

.disabled #firenyx-label {
	color: GrayText;
}

#firenyx-friends, #firenyx-topics {
	-moz-appearance: none;
  border: 0;
  margin: 0;
  border-top: 1px solid ThreeDShadow; 
}
#firenyx-friends label.nick {
	font-size: 1.5em;
	color: #000;
	-moz-box-align: start;
	-moz-crop: end;
	-moz-box-flex: 1;
}

#firenyx-friends label.time {
	color: #777;
	font-size: 10px;
	-moz-box-align: start;
  -moz-crop: end;
  -moz-box-flex: 1;
	/*background: url("chrome://firenyx/skin/sidebar/silk_icons/time_transparent.png") no-repeat;
	padding: 1px 0 3px 18px;*/
}

#firenyx-friends.min-icon label.nick {
	font-weight: bold;
	font-size: 11px;
}

#firenyx-friends.min-icon label.time {
	font-size: 10px;
	/*padding: 0 0 0 12px;
	background: url("chrome://firenyx/skin/sidebar/silk_icons/time_transparent_min.png") no-repeat left center;*/
}

#firenyx-friends image {
	width: 40px;
	height: 50px;
	border: 1px #CCC solid
}
#firenyx-friends.min-icon image {
	width: 24px;
	height: 30px !important;
}







#firenyx-friends {
	background: #FFF;
}

#firenyx-friends richlistitem {
	padding: 5px 0 5px 5px;
	border-bottom:1px solid #CCC;/*#6BE26B; #6C9; */
	background-image: url("chrome://firenyx/skin/sidebar/friends_background.png");
	background-repeat: repeat-x;
	-moz-box-align: start;
}

#firenyx-friends richlistitem[selected="true"] {
	background-color: #AFA;
}
#firenyx-friends richlistitem spacer {
	-moz-box-flex: 1;
}
#firenyx-friends richlistitem hbox, #firenyx-friends richlistitem vbox {
	-moz-box-align: start;
}