@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

#firenyx-dashboard
{
	-moz-appearance: dialog;
	min-width: 10em;
	width: 12em;
	max-width: 36em;
}

/*#firenyx-dashboard-splitter
{
  border: none;
	background-color: ThreeDFace;
	border-width: 0 2px 0 0;
  border-style: solid;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDFace; 
}*/

#firenyx-dashboard-tab-box, #firenyx-dashboard-tab-panels
{
	margin: 0;
	padding: 0;
}

#firenyx-dashboard-tabs
{
	display: block;
}
#firenyx-dashboard-header {
	background-color: -moz-Dialog;
  -moz-appearance: toolbox;
  -moz-box-align: center;
  margin: 2px 0 0 2px;
  padding: 0;
}

#firenyx-dashboard-tabs > tab
{
	display: inline;
	margin: 0;
}
/*#firenyx-dashboard-tab-box {
	margin-left: 2px;
	margin-bottom: 2px;
}*/

#firenyx-dashboard-tab-box tabpanels, #firenyx-dashboard-tab-box tabpanel {
	-moz-appearance: none;
	padding: 0;
	border: 0;	
}
#firenyx-friends, #firenyx-topics {
	margin: 0;
}


/* The "blank" ID prevents loops; it's not on the replacement. */
#firenyx-tbb menupopup#blank {
  -moz-binding: url('chrome://firefox/content/bindings.xml#firefox-tbb')/**/
}